* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #3C3D37;
    color: #ECDFCC;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
  }

  header {
    background-color: #181C14;
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    color: #ECDFCC;
    top: 0;
    z-index: 1000; /* Ensure the header stays on top */
    height: 150px;
  }

  section {
    display: flex;
    flex: 1;
    overflow: hidden; /* Prevent overflow */
  }

  nav {
    width: 200px;
    background-color: #3C3D37;
    padding: 20px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100%;
  }

  nav ul {
    list-style-type: none;
    position: sticky;
    top: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    color: #ECDFCC;
    text-decoration: none;
    font-weight: 700;
    transition: text-shadow 0.3s ease, text-decoration 0.3s ease;
  }

  nav ul li a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }

  main {
    flex: 1;
    padding: 20px;
    background-color: #697565;
    color: #ECDFCC;
    overflow-y: auto;
    display: grid;
    gap: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  

  .art-piece:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  .art-piece .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: none; /* Hide overlay by default */
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 20px;
  }

  .sublist {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding-left: 20px;
    font-weight: 400;
  }

  .sublist.show {
    max-height: 200px; /* Adjust this value based on the height of your sublist */
  }

.showcase
{
  display: grid;

  width: 500px;
  border-radius: 15px;
  transition: all 0.3s ease;
  transform: scale(0.9);
}
.showcase:hover
{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
  transition: all 0.3s ease;
}
.nsfw-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ECDFCC;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.nsfw-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #ECDFCC;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
  border: 3px solid  rgb(41, 44, 51);
  border-radius: 4px;
}

.nsfw-checkbox:checked::after {
  content: '\2714';
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.nsfw-label:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid #ECDFCC;
  transition: all 0.3s ease
}

footer {
    background-color: #181C14;
    padding: 10px;
    text-align: center;
    color: #ECDFCC;
    position: sticky;
    bottom: 0;
    z-index: 1000; /* Ensure the footer stays on top */
}