* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: rgb(41, 44, 51);
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
  }

  header {
    background-color: #21252b;
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    color: #abb2bf;
    top: 0;
    z-index: 1000; /* Ensure the header stays on top */
    height: 150px;
  }

  section {
    display: flex;
    flex: 1;
    overflow: hidden; /* Prevent overflow */
  }

  nav {
    width: 200px;
    background-color: #282c34;
    padding: 20px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100%;
  }

  nav ul {
    list-style-type: none;
    position: sticky;
    top: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    color: #abb2bf;
    text-decoration: none;
    font-weight: 700;
    transition: text-shadow 0.3s ease, text-decoration 0.3s ease;
  }

  nav ul li a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }

  main {
    flex: 1;
    padding: 20px;
    background-color: #32343f;
    color: #abb2bf;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .art-piece {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    padding-bottom: 100%; /* Make the container square */
  }

  .art-piece img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
  }

  .art-piece:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  .art-piece .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    display: none; /* Hide overlay by default */
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 20px;
  }

  .sublist {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding-left: 20px;
    font-weight: 400;
  }

  .sublist.show {
    max-height: 200px; /* Adjust this value based on the height of your sublist */
  }

  .art-piece.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000; /* Ensure fullscreen mode is on top */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .art-piece.fullscreen img {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 5% 5% 10% 5%;
    border-radius: 4%;
  }

  .art-piece.fullscreen .overlay {
display: flex; /* Show overlay in fullscreen mode */
align-items: center; /* Center the text vertically */
justify-content: flex-end; /* Align the text to the right */
height: 50%; /* Ensure the overlay takes up the full height */
padding: 4%;
}

.art-piece.fullscreen .overlay p {
width: 30%;
margin: 20px;
background-color: rgba(0, 0, 0, 0.7);
padding: 20px;
border-radius: 5px;
}

.nsfw-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #abb2bf;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.nsfw-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #abb2bf;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
  border: 3px solid  rgb(41, 44, 51);
  border-radius: 4px;
}

.nsfw-checkbox:checked::after {
  content: '\2714';
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.nsfw-label:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid rgb(138, 138, 138);
  transition: all 0.3s ease
}

footer {
    background-color: #282c34;
    padding: 10px;
    text-align: center;
    color: #abb2bf;
    position: sticky;
    bottom: 0;
    z-index: 1000; /* Ensure the footer stays on top */
}