* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-color: #3C3D37;
    color: #ECDFCC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: #181C14;
    padding: 0px;
    text-align: center;
    font-size: 2rem;
    color: #ECDFCC;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    
  }

  .goose_left {
    height: auto;
    width: 150px;
    margin-right: 10px;
  }

  section {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  nav {
    width: 200px;
    background-color: #3C3D37;
    padding: 20px;
    overflow-y: auto;
    position: relative;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    color: #ECDFCC;
    text-decoration: none;
    font-weight: 700;
  }

  nav ul li a:hover {
    text-shadow: 2px 2px 4px rgb(0,0,1);
    text-decoration: underline;
  }

  .sublist {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding-left: 20px;
    font-weight: 400;
  }

  .sublist.show {
    max-height: 200px; /* Adjust this value based on the height of your sublist */
  }

  main {
    flex: 1;
    padding: 20px;
    background-color: #697565;
    color: #ECDFCC;
    overflow-y: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  footer {
    background-color: #181C14;
    padding: 10px;
    text-align: center;
    color: #abb2bf;
    position: sticky;
    bottom: 0;
    z-index: 1000;
  }
  .header_content{
    flex: 1;
    text-align: center;
  }